{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "bracketSameLine": true,
        "printWidth": 100,
        "endOfLine": "lf",
        "overrides": [
          {
            "files": ["**/*.jsonc", ".eslintrc", ".prettierrc"],
            "options": {
              "parser": "json"
            }
          }
        ]
      }
    ]
  }
}
